
@media only screen and (max-width: 479px) {
    body {
        font-size: 12px;
    }

    .nav-ul {
        display: none;
        height: auto;
    }

    #menu-icon {
        display: inline-block;
        border-radius: 15px;
    }

    .site-top-nav {
        position: absolute;
        z-index: 2;
        width: 100%;
    }

    nav li {
        text-align: center;
        width: 100%;
        background: #f6f6f6;
    }

    .site-top-nav a {
        padding: 25px;
        font-size: 1.2em;
    }

    nav:hover ul.nav-ul {
        display: block;
        width: 100%;
    }

    .landing-page article {
        width: 70%;
        text-align: center;
    }

    .landing-page article h1.names {
        font-size: 1.2em;
        line-height: 25px;
        width: 60%;
        border-bottom: 2px solid white;
    }
    .landing-page article h2 {
        font-size: 1.6em;
    }

    .articles {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .articles article {
        display: block;
        margin: 0 auto;

    }

    .articles article h3,
    .articles article p {
        font-size: 1.2em;
    }

    .advantages .articles article p {
        padding-bottom: 20px;
        font-size: 1.2em;
    }

    .advantages .articles article i {
        padding-top: 10px;
    }

    .speed-draw div {
        display: block;
        text-align: center;
    }

    div.video {
        padding: 0;
    }

    .speed-draw iframe{
        width: 290px!important;
        margin: 5px;
        text-align: center;
    }
    .drawing-information {
        padding-bottom: 20px;
    }

    .statistics article {
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 30px 0 20px 0;
    }
    h3.featured-title {
        margin: 20px 0 0 0;
        text-align: center;
    }
    .featured-works {
        display: block;
        padding: 20px;
    }
    .featured-works .flex-item {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    footer {
        padding: 10px;

    }

    footer div {
        display: block;
        padding: 10px;
        width: 280px;

    }

    footer ul {
        float: none;

    }
    div.copyright,
    div.font-awesome-links {
        margin: 0;
        padding: 0;
        width: 280px;
    }

    div.font-awesome-links {
        display: inline-table;
        text-align: center;
    }

    div.font-awesome-links li {
        width: 40px;

    }
    div.font-awesome-links i,
    div.font-awesome-links img{
        transform: scale(0.5);
        text-align: center;
    }

    div.font-awesome-links img {

    }
    li.artstation {
        position: relative;
        right: 24px;
    }
    div.copyright p {
        width: 280px;

    }
    #legal {
        -webkit-box-ordinal-group: 2;
    }
    #social-links {
        -moz-box-ordinal-group: 1;
    }
    .modal-content {
         width: 90%;
     }
}
@media all and(min-width: 480px) and (max-width: 639px) {

}
@media all and(min-width: 640px) and (max-width: 767px) {

}
@media all and(min-width: 768px) and (max-width: 959px) {

}
@media all and(min-width: 960px) and (max-width: 1023px) {

}
@media all and(min-width: 1024px) and (max-width: 1599px) {

}
/*@media only screen and (max-width: 700px) {*/
    /*.modal-content {*/
        /*width: 90%;*/
    /*}*/
/*}*/

/*@media all and (max-width: 920px) {*/

    /*body {*/
        /*font-size: 12px;*/
    /*}*/

    /*.nav-ul {*/
        /*display: none;*/
        /*height: auto;*/
    /*}*/

    /*#menu-icon {*/
        /*display: inline-block;*/
        /*border-radius: 15px;*/
    /*}*/

    /*.site-top-nav {*/
        /*position: absolute;*/
        /*z-index: 2;*/
        /*width: 100%;*/
    /*}*/

    /*nav li {*/
        /*text-align: center;*/
        /*width: 100%;*/
        /*background: #f6f6f6;*/
    /*}*/

    /*.site-top-nav a {*/
        /*padding: 25px;*/
        /*font-size: 1.2em;*/
    /*}*/

    /*nav:hover ul.nav-ul {*/
        /*display: block;*/
        /*width: 100%;*/
    /*}*/

    /*.landing-page article {*/
        /*width: 70%;*/

    /*}*/

    /*.advantages .articles article {*/
        /*display: block;*/
        /*margin: 0 auto;*/

    /*}*/

    /*.advantages .articles article h3,*/
    /*.advantages .articles article p {*/
        /*font-size: 1.4em;*/
    /*}*/

    /*.advantages .articles article p {*/
        /*padding-bottom: 20px;*/
        /*font-size: 1.2em;*/
    /*}*/

    /*.advantages .articles article i {*/
        /*padding-top: 10px;*/
    /*}*/

    /*.speed-draw div {*/
        /*display: block;*/

        /*margin: 10px;*/
        /*text-align: center;*/
    /*}*/

    /*.speed-draw iframe {*/
        /*width: 415px!important;*/
    /*}*/
/*}*/
