@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700|Libre+Baskerville:400,600,700|Poppins: 300, 400,500,700|Titillium+Web:400,600,900|Baloo Bhaina: 400|Clicker Script: 400');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    margin: 0 auto;
    padding: 0;
    max-width: 1920px;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: Libre, sans-serif;
    font-size: 18px;
}

.site-top-nav {
    background-color: #F7F7F7;
}

.site-top-nav ul {
    text-align: right;
    margin-right: 30px;
}

.site-top-nav > ul > li {
    display: inline-flex;
}

.site-top-nav a {
    font-family: Baskerville, sans-serif;
    font-weight: 600;
    font-size: 0.8em;
    text-decoration: none;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-shrink: 1;
    padding: 30px 15px;
}

li.home {
    background: #EEEEEE;
}

.site-top-nav li:hover {
    background: #EEEEEE;
    cursor: pointer;
}

#menu-icon {
    display: none;
    width: 12px;
    height: 9px;
    background: transparent url("../img/menu-icon.png") no-repeat center;
    padding: 25px;
    position: absolute;
    border-radius: 25px;
}

a:hover#menu-icon {
    background-color: #444;
    border-radius: 4px 4px 0 0;
}

.landing-page {
    background: url("../img/Flowers and Horns wip5.jpg") no-repeat center center;
    background-size: cover;
    height: 700px;
}

.landing-page article {
    position: relative;
    bottom: -510px;
    width: 750px;
    border-radius: 15px;
    text-shadow: 0  0 18px black;
    /*background: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.65) 25%, rgba(0, 0, 0, 0.65) 75%, transparent 100%);*/
    /*background: rgba(44, 44, 44, 0.54);*/
    /*text-shadow: 48px 48px 12px rgba(243, 245, 245, 0.77);*/
    /*box-shadow: 6px 6px 141px -16px rgba(255,255,255,1);*/
}

.landing-page article h1 {
    font-family: serif;
    font-weight: normal;
    font-size: 2.4em;
    line-height: 70px;
    color: #ffffff;
    opacity: 1;
    text-align: center;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 0  0 18px black;
}
.landing-page article h1.names{
    text-align: center;
    border-bottom: 3px solid white;
    width: 75%;
}

.landing-page article h2 {
    font-family: "Clicker Script",sans-serif;
    font-size: 2.8em;
    color: white;
    margin: 10px;
    padding: 15px 0 15px 0;
    text-align: center;
}
div.advantages {
    background-color: #98a480;
}

.articles {
    text-align: center;
}

.advantages .articles article {
    display: inline-block;
    width: 250px;
    text-align: center;
    margin: 30px;

}

.fa-lastfm:before {
    content: "\f202";
    color: white;
    opacity: 0.95;
    text-shadow: 0px 0px 5px black;
}

.articles h3 {
    margin: 20px 0 10px 0;
    text-align: center;
    color: white;
    opacity: 0.95;
    text-shadow: 0px 0px 5px black;
}

.articles p {
    text-align: justify;
    padding-top: 10px;
    color: white;
    opacity: 0.95;
    text-shadow: 0px 0px 5px black;

}
/*.container {*/
    /*padding: 30px 0;*/
    /*border-bottom: 3px solid #696969;*/
    /*border-top: 3px solid #696969;*/
/*}*/
/*.container #additional-information {*/
    /*text-align: center;*/
    /*width: 90%;*/
    /*padding: 30px 0 30px 0;*/
/*}*/

/*.container #additional-information h2 {*/
    /*text-align: center;*/
    /*max-width: 700px;*/
/*}*/
.speed-draw {
    text-align: center;
}
.speed-draw div {
    display: inline-block;
    width: calc(40% - 50px);
    vertical-align: top;
    padding: 35px 0;
    text-align: left;
}

.drawing-information {
    margin-right: 50px;
}

.drawing-information h1 {
    padding-bottom: 20px;
    text-transform: uppercase;
    font-family: Baskerville,sans-serif;
    letter-spacing: 5px;
    font-size: 1.4em;
    text-align: center;
}
.drawing-information p {
    text-align: justify;
    padding-bottom: 20px;
}

.hand-drawing {
    background: url("../img/30.jpg") no-repeat;
    background-size: cover;
    height: 400px;
}
.hand-drawing {
    text-align: center;
}
.hand-drawing article {
    display: inline-block;
    width: 150px;
    text-align: left;
    color: white;
    padding: 150px 15px 0 15px;
    margin: 15px;
    vertical-align: top;
}
.hand-drawing h4 {
    font-size: 1.8em;
    padding-bottom: 15px;
    text-shadow: 0 0 4px black;
}
.hand-drawing p {
    font-size: 1.6em;
    padding-bottom: 15px;
    text-shadow: 0 0 4px black;
    text-transform: capitalize;
}

h3.featured-title {
    margin: 20px 0 20px 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 1.8em;
}

.featured-works {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
}
.flex-item {
    margin: 5px;
    background: url("../img/2.jpg") no-repeat center;
    background-size:cover;
    width: 250px;
    height: 250px;
    flex-grow: 1;
}

footer {
    background-color: #889470;
}

/*@media screen and(min-width: 610px) {*/
/*.site-header ul li {*/
/*display: block;*/
/*width: 100%;*/
/*text-align: center;*/
/*}*/
/*}*/

@media all and (max-width: 920px) {
    /*.business { display:block;}*/
    /*.learn-more {*/
    /*display: block;*/
    /*margin-bottom: 25px;*/
    /*}*/
    /*.business article {text-align:center;}*/
    /*article p { max-width:100%; }*/
    /*main h2 { font-size: 1.4em; }*/
    body {
        font-size: 12px;
    }

    .nav-ul {
        display: none;
        height: auto;
    }

    #menu-icon {
        display: inline-block;
        border-radius: 15px;
    }

    .site-top-nav {
        position: absolute;
        z-index: 2;
        width: 100%;
    }

    nav li {
        text-align: center;
        width: 100%;
        background: #f6f6f6;
    }

    .site-top-nav a {
        padding: 25px;
        font-size: 1.2em;
    }

    nav:hover ul.nav-ul {
        display: block;
        width: 100%;
    }

    .landing-page article {
        width: 70%;

    }

    .advantages .articles article {
        display: block;
        margin: 0 auto;

    }

    .advantages .articles article h3,
    .advantages .articles article p {
        font-size: 1.4em;
    }
    .advantages .articles article p {
        padding-bottom: 20px;
        font-size: 1.2em;
    }
    .advantages .articles article i {
        padding-top: 10px;
    }
    .speed-draw div{
        display: block;
        width: 100%;
        margin: 10px;
        text-align: center;
    }
}